$colbutton: #5f1a99;

@import 'reset';
@import 'typo';
@import 'button';
@import 'composant';
@import 'grille';
@import 'alert';
@import 'boites';
@import 'display';

section {
	background-color: #eeffff;
}

footer {
	background-color: #5271ff;
}