@import "mixingrille";

html, body {
	min-height: 100%;
}

.conteneur {
	display:flex;
	flex-wrap: wrap;
	header {
		@include grille(8, 10%, 0, 8);
	}

	section {
		@include grille(8, 10%, 0, 8);
		display:flex;
		flex-wrap: wrap;
	}
	article:nth-child(1) {
		@include grille(8, 10%, 0, 8);
	}
	article:nth-child(3) {
		@include grille(8, 10%, 0, 6);
		display:flex;
		flex-wrap: wrap;
	}
	article:nth-child(2) {
		@include grille(8, 10%, 0, 2);
	}
	.thumb {
		border: 1px solid black;
		box-sizing: border-box;	
		@include grille(8, 10%, 0, 2);	
	}
	footer {
		@include grille(8, 10%, 0, 8);
	}
}



