@import "mixingrille";

.conteneur {
	display:block;
	display:flex;
	flex-wrap: wrap;
	header {
		@include grille(8, 10%, 0, 8);
	}

	section {
		@include grille(8, 10%, 0, 8);
		display:flex;
		flex-wrap: wrap;
		overflow: auto;
		padding-top: 10px;
	}
	article:nth-child(1) {
		@include grille(8, 10%, 0, 8);
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	article:nth-child(2) {
		@include grille(8, 10%, 0, 6);
		display:flex;
		flex-wrap: wrap;
	}
	article:nth-child(3) {
		@include grille(8, 10%, 0, 2);
	}
	.thumb {
		border: 1px solid black;
		box-sizing: border-box;	
		@include grille(8, 10%, 0, 4);
		margin-bottom: 50px;
		padding: 10px;
		p {
			overflow: auto;

		}
	}	
	footer {
		@include grille(8, 10%, 0, 8);
	}
}



